// BandPage doesn't have responsive widgets, so we *make* them responsive!
// xxs is the BandPage id of the extra-extra-small widget
// xs is the BandPage id of the extra-small widget, etc.
mixin responsive-bandpage-widget(xxs, xs, sm , md, lg)
  .visible-xxs-block
    .bp-extension(data-bandpage-bid=xxs)
  .visible-xs-block
    .bp-extension(data-bandpage-bid=xs)
  .visible-sm-block
    .bp-extension(data-bandpage-bid=sm)
  .visible-md-block
    .bp-extension(data-bandpage-bid=md)
  .visible-lg-block
    .bp-extension(data-bandpage-bid=lg)
